.container {
  width: 80%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

.fa-flag-checkered {
  color: rgb(172, 20, 20);
}

h1 {
  margin: 0 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 4rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
  margin: 0;
}

img {
  width: 80%;
}

.roll-btn {
  width: 60%;
  border-radius: 100%;
  outline: none;
  border: none;
  cursor: pointer;
  height: 60px;
  background-color: #fff;
  font-size: 2rem;
  color: rgb(172, 20, 20);
  margin-bottom: 3%;
}

.roll-btn:hover, .roll-double-btn:hover{
  background-color: rgb(20, 13, 13);
  color: #fff;
}

.roll-btn:active, .roll-double-btn:active{
  background-color: rgb(172, 20, 20);
  color: #fff;
}

.roll-double-btn {
  width: 60%;
  font-size: 50%;
  border-radius: 20%;
  outline: none;
  border: none;
  cursor: pointer;
  height: 60px;
  background-color:#fff;
  font-size: 2rem;
  color: rgb(172, 20, 20);
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

@media (max-width: 424px) {
  .roll-double-btn, .roll-btn {
    font-size: 1.2rem;
  }
}

@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.rotate {
  animation-name: rotate;
  animation-duration: 0.3s;
  animation-iteration-count: 5;
  animation-timing-function: linear;
}
